In [1]:
import pandas as pd
import numpy as np
from csv import reader
from nltk.corpus import stopwords

In [2]:
df=pd.read_csv('CCMLEmployeeData.csv')

In [3]:
strings = []
with open('Events for Recommendation.csv', 'r') as read_obj:
    csv_reader = reader(read_obj)
    for row in csv_reader:
        strings.append(row)
strings = strings[1:]
strings = sum(strings, [])

In [4]:
strings

['50 % off on all Machine Learning and Deep learning courses. Hurry up!',
 'CodaChef C Codathon is live now!',
 'Machine learning is new technology attend the webinar now!',
 'natural language processing is the heart of everything',
 'Attend areas of Blockchain seminar',
 'Attend the Android application development workshop and c++ workshop get your first Internship!',
 'Arranged Machine Learning workshop and Internship',
 'Digital Marketing workshop and Webinar',
 'Arrange a Machine Learning Hackathon',
 'Workshops for Higher Education of students',
 'Lead C++ Developer : Full Time job opportunity',
 'Arrange Ted talk in the field of security',
 'Seminar for finance students',
 'Hackathon - Core C++ 2020',
 'Lockdown special courses on Ydemi. 22 hours left!',
 "Join India's largest Mobile Application Expo Today!",
 'Webinar on Python NumPy Tutorial tomorrow',
 'SciPy Python Expo only one week away!',
 'e-Learning course on Railway Financing',
 'Sign up for Top\xa0C++\xa0courses via udemy']

In [5]:
domains = pd.DataFrame(df['Domain'].value_counts()).reset_index()
events = pd.DataFrame(df['Event1'].value_counts()).reset_index()

In [6]:
events

             index  Event1
0            Expos      22
1      Internships      19
2     Competitions      18
3        Trainings      15
4             Jobs      14
5         Seminars      14
6            Talks      14
7        Workshops      13
8       Hackathons      12
9            Fests      12
10  Certifications      12
11        Webinars      11
12         Courses       7

In [7]:
domains

                      index  Domain
0                     Other      11
1           Cloud Computing      11
2                  Security      11
3                    Coding      10
4                Management      10
5                    Python      10
6                Networking       9
7                       IoT       9
8                Blockchain       9
9                      Java       9
10      Mobile Applications       9
11                  Finance       9
12                      C++       8
13    Development Processes       8
14                        C       8
15         Higher Education       7
16         Machine Learning       7
17          Web Development       7
18               JavaScript       5
19    Software Architecture       5
20                 Hardware       4
21             Data Science       4
22  Artificial Intelligence       3

In [8]:
events

             index  Event1
0            Expos      22
1      Internships      19
2     Competitions      18
3        Trainings      15
4             Jobs      14
5         Seminars      14
6            Talks      14
7        Workshops      13
8       Hackathons      12
9            Fests      12
10  Certifications      12
11        Webinars      11
12         Courses       7

In [9]:
domains.pop('Domain')
events.pop('Event1')

0     22
1     19
2     18
3     15
4     14
5     14
6     14
7     13
8     12
9     12
10    12
11    11
12     7
Name: Event1, dtype: int64

In [10]:
domains.rename(columns={'index':'domain'},inplace=True)
events.rename(columns={'index':'event'},inplace=True)

In [11]:
domains

                     domain
0                     Other
1           Cloud Computing
2                  Security
3                    Coding
4                Management
5                    Python
6                Networking
7                       IoT
8                Blockchain
9                      Java
10      Mobile Applications
11                  Finance
12                      C++
13    Development Processes
14                        C
15         Higher Education
16         Machine Learning
17          Web Development
18               JavaScript
19    Software Architecture
20                 Hardware
21             Data Science
22  Artificial Intelligence

In [12]:
events

             event
0            Expos
1      Internships
2     Competitions
3        Trainings
4             Jobs
5         Seminars
6            Talks
7        Workshops
8       Hackathons
9            Fests
10  Certifications
11        Webinars
12         Courses

In [13]:
Domain = {}
Event = {}
for domain in domains['domain']:
    Domain[domain]=domain.lower().split()
for event in events['event']:
    Event[event]=event.lower()[:-1].split()

In [14]:
Domain['Security'].append('cyber')
Domain['Security'].append('hacking')
Domain['Coding'].append('cod')
Domain['Mobile Applications'].append('android')
Domain['Mobile Applications'].append('ios')
Domain['Networking'].append('network')
Domain['Development Processes'].remove('processes')
Domain['Machine Learning'].remove('learning')
Domain['C'].append(' c ')
Domain['C'].remove('c')
Domain['Coding'].remove('coding')
Domain['Web Development'].remove('development')
Domain['Web Development'].remove('web')
Domain['Web Development'].append('web development')
Domain['Web Development'].append('website')
Domain['Machine Learning'].append('nlp')
Domain['Machine Learning'].append('natural language processing')
Domain['Higher Education'].append('master')
Domain['Artificial Intelligence'].append('deep learning')
Domain['Artificial Intelligence'].remove('intelligence')
Domain['Artificial Intelligence'].append('ai')
Domain['Artificial Intelligence'].append('chatbot')
Domain['Finance'].append('Financing')

In [15]:
Domain

{'Other': ['other'],
 'Cloud Computing': ['cloud', 'computing'],
 'Security': ['security', 'cyber', 'hacking'],
 'Coding': ['cod'],
 'Management': ['management'],
 'Python': ['python'],
 'Networking': ['networking', 'network'],
 'IoT': ['iot'],
 'Blockchain': ['blockchain'],
 'Java': ['java'],
 'Mobile Applications': ['mobile', 'applications', 'android', 'ios'],
 'Finance': ['finance', 'Financing'],
 'C++': ['c++'],
 'Development Processes': ['development'],
 'C': [' c '],
 'Higher Education': ['higher', 'education', 'master'],
 'Machine Learning': ['machine', 'nlp', 'natural language processing'],
 'Web Development': ['web development', 'website'],
 'JavaScript': ['javascript'],
 'Software Architecture': ['software', 'architecture'],
 'Hardware': ['hardware'],
 'Data Science': ['data', 'science'],
 'Artificial Intelligence': ['artificial', 'deep learning', 'ai', 'chatbot']}

In [16]:
Event['Fests'].append('event')
Event['Internships'].append('intern')
Event['Hackathons'].append('thon')
Event['Certifications'].append('certif')
Event['Certifications'].append('certification')
Event['Jobs'].append('requirement')
Event['Jobs'].append('required')
Event['Jobs'].append('needed')
Event['Expos'].append('expo')
Event['Expos'].append('expo')
Event['Workshops'].append('discussion')

In [17]:
Event

{'Expos': ['expo', 'expo', 'expo'],
 'Internships': ['internship', 'intern'],
 'Competitions': ['competition'],
 'Trainings': ['training'],
 'Jobs': ['job', 'requirement', 'required', 'needed'],
 'Seminars': ['seminar'],
 'Talks': ['talk'],
 'Workshops': ['workshop', 'discussion'],
 'Hackathons': ['hackathon', 'thon'],
 'Fests': ['fest', 'event'],
 'Certifications': ['certification', 'certif', 'certification'],
 'Webinars': ['webinar'],
 'Courses': ['course']}

In [18]:
def StopwordsRemoval(data):   
    words = data.split()
   
    removeStopwords = [word for word in words if word.lower() not in stopwords.words('english')]
    
    return removeStopwords

In [19]:
def priority(words):
    text = ' '.join(words)
    i = True
    domain_list = []
    for domain in domains['domain']:
        for item1 in Domain[domain]:
            if item1 in text.lower():
                domain_list.append(domain)
                i = False
    if i:
        domain_list.append('Other')
    event_list = []
    for event in events['event']:
        for item2 in Event[event]:
            if item2 in text.lower():
                event_list.append(event)
    return domain_list,event_list

In [20]:
temp = []
dict = {}
for item in strings:
    words = StopwordsRemoval(item)
    pref = priority(words)
    t = []
    for D in list(set(pref[0])):
        if pref[1]:
            for E in list(set(pref[1])):
                row = list(df[(df['Domain']==D)&((df['Event1']==E)|(df['Event2']==E))]['Name'])
                t.append(row)
        else:
            row = list(df[(df['Domain']==D)]['Name'])
            dict[item]=row
    if t:
        temp_t = sum(t, [])
        dict[item]=list(set(temp_t))

In [22]:
pref
dict

{'50 % off on all Machine Learning and Deep learning courses. Hurry up!': ['Michelle Miller'],
 'CodaChef C Codathon is live now!': ['Laura Hurst',
  'Teresa Riley',
  'Javier Leblanc'],
 'Machine learning is new technology attend the webinar now!': ['Christian Odom'],
 'natural language processing is the heart of everything': ['Angela Hall',
  'Christian Odom',
  'Matthew Martinez',
  'Jasmine Brown',
  'Sharon Mitchell',
  'Stacy Jones',
  'Melissa Diaz'],
 'Attend areas of Blockchain seminar': ['James Porter'],
 'Attend the Android application development workshop and c++ workshop get your first Internship!': ['Brian Powell',
  'Gail Duran',
  'Susan Bailey',
  'Maureen Gross',
  'Michael Rowe',
  'Laura Wood'],
 'Arranged Machine Learning workshop and Internship': ['Sharon Mitchell',
  'Matthew Martinez',
  'Jasmine Brown',
  'Stacy Jones'],
 'Digital Marketing workshop and Webinar': ['Kenneth Martinez',
  'Melissa Harris',
  'Mrs. Brenda Scott'],
 'Arrange a Machine Learning Hackathon': ['Matthew Martinez', 'Angela Hall'],
 'Workshops for Higher Education of students': ['Angela Stokes',
  'William Anderson'],
 'Lead C++ Developer : Full Time job opportunity': ['Michael Parrish',
  'Gail Duran'],
 'Arrange Ted talk in the field of security': ['Ernest Pierce',
  'Marissa Dawson',
  'Kevin Robbins'],
 'Seminar for finance students': ['Andre Mcclure',
  'William Rosales',
  'Jessica Silva'],
 'Hackathon - Core C++ 2020': ['Laura Wood'],
 'Lockdown special courses on Ydemi. 22 hours left!': ['Robert Ramirez',
  'Jennifer Merritt'],
 "Join India's largest Mobile Application Expo Today!": ['Diana Thomas',
  'Erika Ross'],
 'Webinar on Python NumPy Tutorial tomorrow': ['Mark Rogers',
  'Carol Larson',
  'Michael Alvarado',
  'David Cox'],
 'SciPy Python Expo only one week away!': ['Mark Rogers',
  'Melissa Brown',
  'David Cox'],
 'e-Learning course on Railway Financing': ['Michelle Miller'],
 'Sign up for Top\xa0C++\xa0courses via udemy': ['John Pearson',
  'Michael Rowe']}

In [21]:
new_df = pd.DataFrame()

In [22]:
for key, val in zip(list(dict.keys()),list(dict.values())):
    new_df = new_df.append({'Event' : key , 'Recommended Employees' : ', '.join(val)},ignore_index=True)
new_df = new_df[['Event','Recommended Employees']]
new_df.to_excel('result.xlsx',index=False)

In [24]:
new_df

,Event,Recommended Employees
0,50 % off on all Machine Learning and Deep lear...,Michelle Miller
1,CodaChef C Codathon is live now!,"Laura Hurst, Teresa Riley, Javier Leblanc"
2,Machine learning is new technology attend the ...,Christian Odom
3,natural language processing is the heart of ev...,"Angela Hall, Christian Odom, Matthew Martinez,..."
4,Attend areas of Blockchain seminar,James Porter
5,Attend the Android application development wor...,"Maureen Gross, Michael Rowe, Brian Powell, Lau..."
6,Arranged Machine Learning workshop and Internship,"Sharon Mitchell, Matthew Martinez, Stacy Jones..."
7,Digital Marketing workshop and Webinar,"Kenneth Martinez, Mrs. Brenda Scott, Melissa H..."
8,Arrange a Machine Learning Hackathon,"Matthew Martinez, Angela Hall"
9,Workshops for Higher Education of students,"William Anderson, Angela Stokes"
10,Lead C++ Developer : Full Time job opportunity,"Michael Parrish, Gail Duran"
11,Arrange Ted talk in the field of security,"Ernest Pierce, Kevin Robbins, Marissa Dawson"
12,Seminar for finance students,"Andre Mcclure, William Rosales, Jessica Silva"
13,Hackathon - Core C++ 2020,Laura Wood
14,Lockdown special courses on Ydemi. 22 hours left!,"Jennifer Merritt, Robert Ramirez"
15,Join India's largest Mobile Application Expo T...,"Erika Ross, Diana Thomas"
16,Webinar on Python NumPy Tutorial tomorrow,"Carol Larson, Mark Rogers, David Cox, Michael ..."
17,SciPy Python Expo only one week away!,"Mark Rogers, Melissa Brown, David Cox"
18,e-Learning course on Railway Financing,Michelle Miller
19,Sign up for Top C++ courses via udemy,"Michael Rowe, John Pearson"